SignalrSample/Service References/BackOfficePortalService/BackofficePortalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.Sample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.Sample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SampleDataDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstTextValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondTextValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleDataDto" nillable="true" type="tns:SampleDataDto" />
  <xs:complexType name="ArrayOfSampleDataDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleDataDto" nillable="true" type="tns:SampleDataDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleDataDto" nillable="true" type="tns:ArrayOfSampleDataDto" />
</xs:schema>