SignalrSample/Service References/BackOfficePortalService/BackofficePortalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.VenueStaffRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.VenueStaffRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52220/BackofficePortalService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract" />
  <xs:complexType name="ExamRoleProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamRoleId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiresTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PayRateTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Ratio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamRoleProfileDto" nillable="true" type="tns:ExamRoleProfileDto" />
  <xs:complexType name="CountryExamRoleProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="ExamRoleProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrganisationCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="PayRates" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryExamRoleProfileDto" nillable="true" type="tns:CountryExamRoleProfileDto" />
  <xs:complexType name="SearchExamRoleDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract" base="q1:SearchBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CentreId" type="xs:int" />
          <xs:element minOccurs="0" name="ComponentFormatId" type="xs:int" />
          <xs:element minOccurs="0" name="OrganisationCountryId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductId" type="xs:int" />
          <xs:element minOccurs="0" name="RoleProfileId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchExamRoleDto" nillable="true" type="tns:SearchExamRoleDto" />
  <xs:complexType name="ExamRoleProfileListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentFormatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamRoleProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiresTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayRateTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="PayRateTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamRoleProfileListDto" nillable="true" type="tns:ExamRoleProfileListDto" />
  <xs:complexType name="ArrayOfExamRoleProfileListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamRoleProfileListDto" nillable="true" type="tns:ExamRoleProfileListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamRoleProfileListDto" nillable="true" type="tns:ArrayOfExamRoleProfileListDto" />
  <xs:complexType name="CountryExamRoleListDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExamRoleProfileListDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryExamRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
          <xs:element minOccurs="0" name="PayRates" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryExamRoleListDto" nillable="true" type="tns:CountryExamRoleListDto" />
  <xs:complexType name="ArrayOfCountryExamRoleListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryExamRoleListDto" nillable="true" type="tns:CountryExamRoleListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryExamRoleListDto" nillable="true" type="tns:ArrayOfCountryExamRoleListDto" />
</xs:schema>