SignalrSample/Service References/BackOfficePortalService/BackofficePortalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52220/BackofficePortalService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" />
  <xs:complexType name="SearchBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" minOccurs="0" name="Aggregate" nillable="true" type="q1:ArrayOfaggregate" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" minOccurs="0" name="Filter" nillable="true" type="q2:Filter" />
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" minOccurs="0" name="Sort" nillable="true" type="q3:ArrayOfSort" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchBase" nillable="true" type="tns:SearchBase" />
  <xs:complexType name="CommonSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentreId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonSearch" nillable="true" type="tns:CommonSearch" />
</xs:schema>