SignalrSample/Service References/BackOfficePortalService/BackofficePortalService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kendo.DynamicLinq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfaggregate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aggregate" nillable="true" type="tns:aggregate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaggregate" nillable="true" type="tns:ArrayOfaggregate" />
  <xs:complexType name="aggregate">
    <xs:sequence>
      <xs:element minOccurs="0" name="aggregate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aggregate" nillable="true" type="tns:aggregate" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filters" nillable="true" type="tns:ArrayOfFilter" />
      <xs:element minOccurs="0" name="logic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:complexType name="ArrayOfFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilter" nillable="true" type="tns:ArrayOfFilter" />
  <xs:complexType name="ArrayOfSort">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sort" nillable="true" type="tns:Sort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSort" nillable="true" type="tns:ArrayOfSort" />
  <xs:complexType name="Sort">
    <xs:sequence>
      <xs:element minOccurs="0" name="dir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sort" nillable="true" type="tns:Sort" />
</xs:schema>