SignalrSample/Service References/BackOfficePortalService/BackofficePortalService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.VenueStaffAllocation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.VenueStaffAllocation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExamStaffPlanningforAllocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamStaffPlanningforAllocationDto" nillable="true" type="tns:ExamStaffPlanningforAllocationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamStaffPlanningforAllocationDto" nillable="true" type="tns:ArrayOfExamStaffPlanningforAllocationDto" />
  <xs:complexType name="ExamStaffPlanningforAllocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingId" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryExamRoleProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NumberRequired" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamStaffPlanningforAllocationDto" nillable="true" type="tns:ExamStaffPlanningforAllocationDto" />
  <xs:complexType name="ExamStaffAllocationSearchDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentreId" type="xs:int" />
      <xs:element minOccurs="0" name="ComponentFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryExamRoleProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="ExamComponentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamComponentDateId" type="xs:long" />
      <xs:element minOccurs="0" name="ExamStaffPlanningId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductGroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamStaffAllocationSearchDto" nillable="true" type="tns:ExamStaffAllocationSearchDto" />
  <xs:complexType name="AvailableExamStaffListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamStaffId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeTableSessionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableExamStaffListDto" nillable="true" type="tns:AvailableExamStaffListDto" />
  <xs:complexType name="ArrayOfAvailableExamStaffListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableExamStaffListDto" nillable="true" type="tns:AvailableExamStaffListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableExamStaffListDto" nillable="true" type="tns:ArrayOfAvailableExamStaffListDto" />
  <xs:complexType name="AllocatedExamStaffListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamStaffId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeTableSessionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllocatedExamStaffListDto" nillable="true" type="tns:AllocatedExamStaffListDto" />
  <xs:complexType name="ArrayOfAllocatedExamStaffListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllocatedExamStaffListDto" nillable="true" type="tns:AllocatedExamStaffListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllocatedExamStaffListDto" nillable="true" type="tns:ArrayOfAllocatedExamStaffListDto" />
</xs:schema>