SignalrSample/Service References/BackOfficePortalService/BackofficePortalService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.Organisation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BC.Boss.Services.BackOfficePortalContract.Organisation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrganisationCentreListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationCentreListDto" nillable="true" type="tns:OrganisationCentreListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationCentreListDto" nillable="true" type="tns:ArrayOfOrganisationCentreListDto" />
  <xs:complexType name="OrganisationCentreListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentreId" type="xs:int" />
      <xs:element minOccurs="0" name="CentreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentreNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationCentreListDto" nillable="true" type="tns:OrganisationCentreListDto" />
</xs:schema>